# ==========================================
# VISUAL STUDIO
# ==========================================

.vs/

Solution/x64/
Solution/x86/

Solution/CrossingRoadSDL/x64/
Solution/CrossingRoadSDL/x86/

**/Debug/
**/Release/


# ==========================================
# BUILD FILES
# ==========================================

*.exe
*.pdb
*.obj
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.ipch
*.iobj
*.res
*.pch


# ==========================================
# VISUAL STUDIO USER FILES
# ==========================================

*.user
*.suo
*.VC.db
*.VC.VC.opendb


# ==========================================
# CMAKE TEMP FILES
# ==========================================

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt


# ==========================================
# TEMP FILES
# ==========================================

*.tmp
*.log


# ==========================================
# OS
# ==========================================

Thumbs.db
Desktop.ini